<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>The Recipe Hub</title>
</head>
<body>
     <header>
        <h1>THE RECIPE HUB</h1>
        <div class="browse-recipe-search">
            <input id="search-recipes" type="text" name="search" value placeholder="  Search for a recipe">
            <button id="search-recipes-Btn" type="submit"><i id="icon-search" class='fa fa-search'></i></button>
            </div>
        <a href='#' class='login'><i class="fa fa-fw fa-user"></i>Login</a>
    </header>
    <main>
        <!-- Menu Section -->
        <div class="menu">
            <a class="active" href="#home"><i class='fa fa-home fa-2x'></i>&nbsp;Home</a>
            <a href="#search"><i class='fa fa-search fa-2x'></i>&nbsp;My Recipes</a>
            <a href="#add-recipe"><i class="fa fa-plus fa-2x"></i>&nbsp;Add Recipes</a>
            <a href="#add-grocery-list"><i class='fa fa-list-alt fa-2x'></i>&nbsp;Create Grocery List</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="fa fa-exchange fa-2x"></i>&nbsp;Unit Converter</button>
        </div>
    
    {{{ body }}}

</body>
</html>