<!--Add input fields for recipe name, caterogy type, instructions, ingredients -->

<form id="add-recipes">
    <div class="add-recipes">
        <input type="text" class="form-control" id="" aria-describedby=" "
            placeholder="Recipe Name"><br>
        <input type="text" class="form-control" id="" aria-describedby=" "
            placeholder="Category Types"><br>
        <input type="text" class="form-control" id="" aria-describedby=" "
            placeholder="Ingredients"><br>
        <textarea id="exampleInputEmail1" class="form-control" name="w3review"  rows="10" cols="50">Instructions...
        </textarea>
                <button type="submit" class="btn btn-primary Submit-recipe">Add recipe</button>
    </div>


</form>