<h2>Add Recipe Here</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="recipe-name" placeholder="Recipe Name"><br>
        <input type="text" class="form-control" id="recipe-type" placeholder="Category Types"><br>
        <input type="text" class="form-control" id="recipe-ingredients" placeholder="Ingredients"><br>
        <input type="text" class="form-control" id="recipe-instructions" placeholder="Instructions"><br>
    </div>
    <button type="submit" class="add-recipe btn btn-primary">Add recipe</button>
</form>
<script src="/assets/js/add.js" type="text/javascript"></script>