<!--Add input fields for recipe name, caterogy type, instructions, ingredients -->

<form id="add-recipes">
    <div class="add-recipes">
        <input type="text" class="form-control" id="recipe-name" placeholder="Recipe Name"><br>
        <input type="text" class="form-control" id="recipe-type" placeholder="Category Types"><br>
        <input type="text" class="form-control" id="recipe-ingredients" placeholder="Ingredients"><br>
        <textarea id="exampleInputEmail1" class="form-control" id="recipe-instructions" name="w3review" rows="10"
            cols="50">Instructions...
        </textarea>
        <button type="submit" class="add-recipe btn btn-primary Submit-recipe">Add recipe</button>
    </div>
</form>