<h2>Add Recipe Here</h2>

<!--Add input fields for recipe name, caterogy type, instructions, ingredients -->

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Add Recipe</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Recipe Name"><br>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Category Types"><br>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Instructions"><br>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Ingredients"><br>
    </div>
    <button type="submit" class="btn btn-primary Submit-recipe">Add recipe</button>
</form>