<div>
  <ul>
    {{#each grocerylists}}
 
        <li>    
            <a>
                <h3>{{ groceryListName }}</h3>
                {{#each groceryListItems}}
                  <p>{{itemDescription}}</p>   
                {{/each}}
            </a>
    </li>
    {{else}}
        <p>No grocery list available </p>
    {{/each}}
   </ul>
</div>