<div>
  <ul>
    {{#each grocerylists}}
 
        <li>    
            <a>
                <h3>{{ this.groceryListName }}</h3>
                {{#each this.groceryListItems}}
                  <p>itm1</p>   
                {{/each}}
                
            </a>
    </li>
    {{else}}
        <p>No grocery list available </p>
    {{/each}}
   </ul>
</div>