<div>
  <ul>
    {{#each grocerylists}}
 
        <li>    
            <a>
                <h3>{{ this.groceryListName }}</h3>
                <p>content</p>
            </a>
    </li>
    {{else}}
        <p>No grocery list available </p>
    {{/each}}
   </ul>
</div>