<div class="search-recipes">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="recipeName" aria-describedby="emailHelp" placeholder="Search recipe by name">
      <button type="button" class="search-recipes-name btn btn-primary btn-sm">Search Recipes </button>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="text" class="form-control" id="categoryType" placeholder="Search category type : Italian, Lunch, etc">
      <button type="button" class="search-recipe-type btn btn-primary btn-sm">Search Recipes</button>
    </div>
    <br><br>
  </form>
</div>
      <button type="button" class="search-all-recipes btn btn-primary">Show All Recipes</button>
</div>
<div class="card-styling">
  {{#each recipes}}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/french_toast_new_700x394.png" alt="Card image cap">
    <div class="card-body">
      <h2>{{dataValues.recipeName}}</h2>
      <li>
        <div class="col-sm-12 text-center">
          <h3>{{dataValues.categoryType}}</h3>
          <p>{{dataValues.ingredients}}</p>
          <p>{{dataValues.instructions}}</p>
        </div>
      </li>
    </div>
  </div>
  {{/each}}
</div>
