* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
       background-image: url("../img/white-marble-3-2018.jpg");
       background-size: cover;
}

header {
    background: orangered;
    padding: 4px; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header h1 img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}


header h1 {
    text-align: left;
    color:#FFFFFF;
    font-size: large;
    font-family: "Comic Sans MS", "Times New Roman", Times, serif;

}


#search-recipes{
    border-radius: 40px;
    border: 0px solid orangered;
    color: hsl(0, 0%, 29%);
    width: 300px;
    margin-top: 2px;
    font-size: medium;



}

#search-recipes-Btn{
    border-radius: 34px;
    background-color: orange;
    color: white;
    width: 40px;
    border: none;
}



.login {
    text-align: right;
    justify-content: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    
}

/* Menu design */

.btn-primary,
.menu {
    text-align:  center;
    background:#FFAD00 !important;
    overflow: hidden;
    height: 50px;
    border: none !important;
}

.menu a {
    text-align: center;
    padding: 20px 16px 20px 16px;
    text-decoration: none;
    color: white;
    font-size: large;
    margin-top:10px;
}

.menu a:hover {
    background-color: #ffe9c9;
    color: #1d0033;
}

.menu a.active {
    background-color: orangered;
    color: white;
}

/* Modal Design */
#ingredient,
#quantity {
    width: auto !important;
    height: 30px !important;
}

.form-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.form-select {
    width: 200px !important;
}


/* Style for Add recipes page */

.add-recipes {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}

.add-recipes button{
    margin-left: 40%;
    margin-top: 2%;
    
}